@import '../../../style.scss';
.hero-section{
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    .left{
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2{
      }
      p{
      }
      input{
        width: 10vw;
      }
    }
    .right{
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      margin-left:10vw;
      img{
        width: 40vw;
        height: 60vh;
        border-radius: 10px;
      }
    }
  }
}