@import '../../../style.scss';
.hero-section{
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    .left{
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h2{
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: bold;
        color: themed('text');
      }
      h3{
        margin-left: 10px;
        color: themed('text');
        margin-bottom: 10px;
      }
        
      p{
        margin-left: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        .list-text{
          color: themed('textThird');
          font-size: 16px;
        }
        .list-icon{
          color: themed('textSecond');
        }
      }
      input{
        cursor: pointer;
        width: 10vw;
        height: 5vh;
        border: none;
        margin-left: 10px;
        margin-top: 10px;
        background-color: themed('button');
        color: themed('buttonText');
        border-radius: 5px;
        font-size: 16px;
      }
    }
    .right{
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      margin-left:10vw;
      img{
        width: 40vw;
        height: 60vh;
        border-radius: 10px;
        margin-top: 10px;
        mix-blend-mode: color-burn;
      }
    }
  }
}