@import '../../../style.scss';
.sub-hero{
  @include themify($themes) {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  margin-top: 15vh;
  gap: 70px;
  .hr{
    width: 40vw;
    margin-left: 50px;
    hr{
      border: 10px solid black;
      width: 100%;
    }
  }
  .social-media{
    display: flex;
    align-items: center;
    gap: 20px;
    a{
      display: flex;
      align-items: center;
      gap: 5px;
      .github{
        color: black;
      }
      .linkedIn, .twitter{
        color: rgb(26, 97, 169);
      }
      .facebook{
        color: rgb(0, 72, 161);
      }
      .instagram{
        color: purple;
      }
      span{
        color: themed('text');
      }
    }
  }
  }
}