@import '../../style.scss';
.home{
  @include themify($themes) {
    background-color: themed('bgSoft');

    .top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      .user{
        margin-left: 50px;
        img{
          width: 12vw;
          height: 24vh;
          border-radius: 10px;
          border: solid 1px greenyellow;
        }
        .social-network{
          display: flex;
          align-items: center;
          justify-content: space-between;
          a{
            margin: 0 10px;
            .icon{
            }
          }
        }
      }
      .banner{}
    }
    .bottom{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}