@import '../../style.scss';
.home{
  @include themify($themes) {
    background-color: themed('bgSoft');

    .top{
      display: flex;

      .user{
        img{
          width: 18vw;
          height: 40vh;
        }
        .social-network{

          a{

            .icon{}
          }
        }
      }
      .banner{}
    }
    .bottom{}
  }
}