@import '../../style.scss';
.nav-bar{
  @include themify($themes) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  background-color: themed('bg');
  .left{
    display: flex;
    align-items: center;
    gap: 90px;
    .logo{
      padding: 10px;
      h2{
        cursor: pointer;
        span{

        }
      }
    }
    .menu{
      padding: 10px;
      ul{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 20px;
        li{
          cursor: pointer;
        }
      }
    }
  }
  .right{
    padding: 10px;
    input{
      cursor: pointer;
    }
  }
}
}