@import '../../style.scss';
.footer{
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: themed('bg');
    position: absolute;
    bottom: 0;
    width: 100%;
    .left{
      padding: 5px;
      h2{
        span{}
      }
    }
    .center{
      padding: 5px;
      span{
        a{}
      }
    }
    .right{
      padding: 5cap;
    }
  }
}