@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Pacifico&family=Reem+Kufi+Fun:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Amiri Quran', serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Reem Kufi Fun', sans-serif;
  font-family: 'Roboto', sans-serif;
  -family: 'Ubuntu', sans-serif;
}