$themes: (
  light: (
  bg: #5C5470,
  bgSoft: #B9B4C7,
  border: #352F44,
  borderSecond: #252B48,
  borderHover: #5B9A8B,
  icon: #9E9FA5,
  iconSecond: #D8D9DA,
  iconHover: #7C73C0,
  text: #001C30,
  textSecond:#2B2730,
  textHover:#8EAC50,
  button:#9BCDD2,
  buttonSecond:#FF8551,
  buttonText:#EEEEEE,
  buttonBorder:#06113C,
  buttonHover:#F8E796,
  card:#D8D9CF,
  cardSecond:#839B97,
  cardHover:#F9FBE7,
  ),
  dark: (
    
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}